@tailwind base;
@tailwind components;
@tailwind utilities;

/******** Custom Properties ********/
:root {
    --white-color: #E6E6E6;
    --gray-light-color: #E6E6E6;
    --gray-dark-color: #666666;
    --white-alpha-color: rgba(255, 255, 255, 0.5);
    --black-alpha-color: rgba(0, 0, 0, 0.5);
    --text-color: #222;
    --link-color: #6C1D45;
    --font: "Raleway", sans-serif;
    --max-width: 1200px;
    --header-heigth: 4rem;
}

/******** Reset ********/
html {
    box-sizing: border-box;
    font-family: var(--font);
    font-size: 16px;
    scroll-behavior: smooth;
}

*,
*::after,
*::before {
    box-sizing: inherit;
}

body {
    margin: 0;
    overflow-x: hidden;
    color: var(--text-color);
    background-color: #F7F7F7;
}

a {
    color: var(--link-color);
    transition: all 0.5s ease-out;
}

a:hover {
    opacity: 0.75;
}

h1 {
    margin: 0;
    font-size: 2rem;
}

h2 {
    margin: 0;
    font-size: 1.5rem;
}

h3 {
    margin: 0;
    font-size: 1.25rem;
}

h4 {
    margin: 0;
    font-size: 1rem;
}

h5 {
    margin: 0;
    font-size: 0.85rem;
}

h6 {
    margin: 0;
    font-size: 0.7rem;
}

img {
    max-width: 100%;
    height: auto;
}

p {
    line-height: 1.6;
}

.spinner-custom {
    fill: #6C1D45;

}

.pagination {
    display: flex;
    justify-content: center;
    list-style: none;
    padding: 0;
    margin-bottom: 5rem;
}

.pagination li {
    margin: 0 5px;
}

.pagination li a {
    display: block;
    padding: 5px 10px;
    background-color: #f2f2f2;
    color: #6C1D45;
    text-decoration: none;
    border-radius: 3px;
}

.pagination li.active a {
    background-color: #6C1D45;
    /* Cambiado el color de fondo */
    color: #fff;
    /* El color del texto sigue siendo blanco */
}

.pagination li a:hover {
    background-color: #e6e6e6;
}

/* Creacion del componente Toggle Button */

.toggle-button {
    background-color: #E6E6E6;
    border: 1px, solid #aaa;
    border-radius: 99px;
    width: 50px;
    height: 28px;
    transition: background-color 0.1s ease, border-color 0.2s ease;
    cursor: pointer;

    position: relative;
}

.toggle-button .thumb {
    height: 20px;
    width: 20px;
    background-color: #fff;
    border-radius: 99px;
    transform: translateX(0);
    transition: left 0.15s ease;
    position: absolute;
    left: 3px;
    top: 50%;
    transform: translateY(-50%);
}

.toggle-button.toggled {
    background-color: #6C1D45;
}

.toggle-button:hover {
    border-color: #E6E6E6;
}

.toggle-button.toggled .thumb {
    left: calc(50px - 25px);
}

.date-picker-container {
    display: block;
    width: 100%;
}

.date-picker-input {
    display: block;
    width: 100%;
    height: 38px;
    border-radius: 0.375rem;
    border: 1px solid #d1d5db;
    padding: 0.5rem 0.75rem;
    font-size: 0.875rem;
    line-height: 1.25rem;
    color: #111827;
    background-color: #fff;
    outline: none;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    margin-top: 9px;
}

.date-picker-input:focus {
    border-color: #6C1D45;
    box-shadow: 0 0 0 1px #6C1D45;
}